{% load static %}
<section class="about_area section_gap">
    <div class="container">
        <div class="row h_blog_item">
            <div class="col-lg-6">
                <div class="h_blog_img">
                    <img class="img-fluid " src="{% static 'img/about.png' %}" alt="" />
                </div>
            </div>
            <div class="col-lg-6">
                <div class="h_blog_text">
                    <div class="h_blog_text_inner left right">
                        <h4>স্বাগতম আপনাকে আমাদের পাতাই</h4>
                        সহজ বাংলায় প্রোগ্রামিং জ্ঞান ছড়িয়ে দেয়ার প্রত্যয়ে আমাদের পথচলা। আমরা বিশ্বাস করি জ্ঞান ছড়িয়ে
                        দেয়ার মাধ্যমেই জ্ঞানের সঠিক
                        চর্চা সম্ভব। তাই আমরা যা পড়ি, বুঝি, শিখি তা অন্যদের সাথে শেয়ার করা আমাদের দৈনন্দিন কাজের অংশ মনে
                        করি। আমাদের এই পথচলায়
                        আপনিও সঙ্গী হোন।
                        <a class="primary-btn" href="/courses">
                            শুরু করুন <i class="ti-arrow-right ml-1"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>