{% load static %}
<footer class="footer-area section_gap">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 single-footer-widget">
                <h4>মেনু </h4>
                <ul>
                    <li><a href="/">মুল পাতা</a></li>
                    <li><a href="/courses">আমাদের কোর্স</a></li>
                    <li><a href="http://zuyelrana.pythonanywhere.com/">ব্লগ</a></li>
                    <li><a href="/about">আমাদের সম্পর্কে</a></li>
                    <li><a href="/contact">যোগাযোগ</a></li>
                </ul>
            </div>
            <div class="col-lg-3 col-md-6 single-footer-widget">
                <h4>গুরুত্বপূর্ণ লিঙ্ক সমূহ </h4>
                <ul>
                    <li><a target="blank" href="https://www.python.org/">পাইথন </a></li>
                    <li><a target="blank" href="http://118.67.215.141/ebook/">ই-বুক </a></li>
                    <li><a target="blank" href="https://www.urionlinejudge.com.br/judge/en/login">সমস্যা সমাধান</a></li>
                    <li><a target="blank" href="https://www.djangoproject.com/">জ্যাঙ্গ</a></li>
                </ul>
            </div>


            <div class="col-lg-6 col-md-6 single-footer-widget">
                <h4>রেজিস্ট্রেশন করুন</h4>
                <p>আপনি আমাদের বিশ্বাস করতে পারেন। আমরা কেবল প্রচার অফার প্রেরণ করি,,</p>
                <div class="form-wrap" id="mc_embed_signup">
                    <form action="/" method="get" class="form-inline">
                        <input class="form-control" name="email" placeholder="আপনার ইমেইল"
                            onfocus="this.placeholder = ''" onblur="this.placeholder = 'আপনার ইমেইল'" required=""
                            type="email" />
                        <button class="click-btn btn btn-default">
                            <span>সাবস্ক্রাইব</span>
                        </button>
                        <div style="position: absolute; left: -5000px;">
                            <input name="b_36c4fd991d266f23781ded980_aefe40901a" tabindex="-1" value="" type="text" />
                        </div>

                        <div class="info"></div>
                    </form>
                </div>
            </div>
        </div>
        <div class="row footer-bottom d-flex justify-content-between">
            <p class="col-lg-8 col-sm-12 footer-text m-0 text-white">
                কপিরাইট &copy;
                <script>document.write(new Date().getFullYear());</script> সর্বস্বত্ব সংরক্ষিত | এই ওয়েবসাইট তৈরি করেন
                <i class="ti-heart" aria-hidden="true"></i> <a target="blank"
                    href="http://zuyelrana.pythonanywhere.com/" target="_blank">জুয়েল রানা </a>

                <p class="col-lg-8 col-sm-12 footer-text m-0 text-danger">

                    নোটিশঃ দয়াকরে এই সাইটের অন্তর্ভুক্ত কোন কোর্সের কন্টেন্ট নিয়ে অন্য কোথাও ওয়েবসাইট বা অ্যাপ আকারে
                    কমার্শিয়ালি পাবলিশ
                    করবেন না ।

                    <div class="col-lg-4 col-sm-12 footer-social">
                        <a target="blank" href="https://web.facebook.com/zuyelranaa?_rdc=1&_rdr"><i
                                class="ti-facebook"></i></a>
                        <a target="blank" href="https://twitter.com/ZuyelRana8"><i class="ti-twitter"></i></a>
                        <a target="blank" href="https://www.github.com/zuyelrana"><i class="ti-github"></i></a>
                        <a target="blank" href="https://www.linkedin.com/in/zuyel-rana-406ba015b/"><i
                                class="ti-linkedin"></i></a>
                    </div>
        </div>
    </div>
</footer>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->


<script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
<script src="{% static 'js/popper.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'vendors/nice-select/js/jquery.nice-select.min.js' %}"></script>
<script src="{% static 'vendors/owl-carousel/owl.carousel.min.js' %}"></script>
<script src="{% static 'js/owl-carousel-thumb.min.js' %}"></script>
<script src="{% static 'js/jquery.ajaxchimp.min.js' %}"></script>
<script src="{% static 'js/mail-script.js' %}"></script>
<!--gmaps Js-->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCjCGmQ0Uq4exrzdcL6rvxywDDOvfAu6eE"></script>
<script src="{% static 'js/gmaps.min.js' %}"></script>
<script src="{% static 'js/theme.js' %}"></script>
<!--highlight js -->
<script src="{% static 'js/highlight.pack.js' %}"></script>
<script src="{% static 'js/highlightjs-line-numbers.min.js' %}"></script>
<!-- Next ana -->
<!-- FaceBook Comment -->
<script async defer crossorigin="anonymous"
    src="https://connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v3.3"></script>

<div id="fb-root"></div>
<script async defer crossorigin="anonymous"
    src="https://connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v4.0"></script>
<!-- FaceBook Comment -->

<style>
    /* for block of numbers */
    .hljs-ln-numbers {
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;

        text-align: center;
        color: rgb(19, 153, 231);
        border-right: 2px solid rgba(255, 10, 214, 0.6);
        vertical-align: top;
        padding-right: 6px;


    }

    /* for block of code */
    .hljs-ln-code {
        padding-left: 20px;
        padding-right: 10px;
        color: #1220ec;

    }
</style>
<script>
    hljs.initHighlightingOnLoad();
    hljs.initLineNumbersOnLoad();

</script>
<!-- highlight End -->

<!--highlight js -->
<script>
    function openNav() {
        document.getElementById("mySidenav").style.width = "250px";
    }

    function closeNav() {
        document.getElementById("mySidenav").style.width = "0";
    }
</script>
<script>
    //Get the button
    var mybutton = document.getElementById("myBtn");

    // When the user scrolls down 20px from the top of the document, show the button
    window.onscroll = function () { scrollFunction() };

    function scrollFunction() {
        if (document.body.scrollTop > 30 || document.documentElement.scrollTop > 30) {
            mybutton.style.display = "block";
        } else {
            mybutton.style.display = "none";
        }
    }

    // When the user clicks on the button, scroll to the top of the document
    function topFunction() {
        document.body.scrollTop = 0;
        document.documentElement.scrollTop = 0;
    }
</script>
<!-- Go to top -->
<!-- Count Down -->


<!-- side Nav -->

<script>
    function openNav() {
        document.getElementById("mySidenav").style.width = "250px";
    }

    function closeNav() {
        document.getElementById("mySidenav").style.width = "0";
    }
</script>
<!-- side Nav -->

<!-- Quize -->

{% block js %}

{% endblock js %}

</body>

</html>