{% load static %}
{% load active_link_tags %}

<header class="header_area">
    <div class="main_menu">
        <div class="search_input" id="search_input_box">
            <div class="container">
                <form class="d-flex justify-content-between" method="" action="/courses/">
                    <input type="text" class="form-control" name="q" id="search_input" placeholder="
এখানে অনুসন্ধান করুন" />
                    <button type="submit" class="btn"></button>
                    <span class="ti-close" id="close_search" title="Close Search"></span>
                </form>
            </div>
        </div>

        <nav class="navbar navbar-expand-lg navbar-light">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <a class="navbar-brand logo_h" href="/"><img src="{% static 'img/logo.png' %}" alt="" /></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="icon-bar"></span> <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse offset" id="navbarSupportedContent">
                    <ul class="nav navbar-nav menu_nav ml-auto">
                        {% url 'home' as home_page%}
                        <li class="nav-item ">
                            <a href="{{home_page}}"
                                class="nav-link {% if request.get_full_path == home_page %}active{% endif%}">মুল
                                পাতা</a>
                        </li>
                        {% url 'courses' as courses_page%}
                        <li class="nav-item effect">
                            <a href="{{courses_page}}"
                                class="nav-link {% if request.get_full_path == courses_page %}active{% endif%}">আমাদের
                                কোর্স</a>
                        </li>

                        {% url 'about' as about_page%}
                        <li class="nav-item">
                            <a href="{{about_page}}"
                                class="nav-link {% if request.get_full_path == about_page %}active{% endif%}">আমাদের
                                সম্পর্কে</a>
                        </li>
                        {% url 'contact' as contact_page%}
                        <li class="nav-item">
                            <a href="{{contact_page}}"
                                class="nav-link {% if request.get_full_path == contact_page %}active{% endif%}">যোগাযোগ</a>
                        </li>

                        <li class="nav-item ">
                            <a class="nav-link" target="blank" href="http://zuyelrana.pythonanywhere.com/">আমাদের
                                ব্লগ</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#" search" id="search">
                                <i class="ti-search"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</header>

<button onclick="topFunction()" id="myBtn" title="Go to top">&#8593;</button>