<section class="home_banner_area">
    <div class="banner_inner">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="banner_content text-center">
                        <p class="text-uppercase">
                            সবার জন্য প্রোগ্রামিং
                        </p>
                        <h2 class="text-uppercase mt-4 mb-5">
                            সহজ বাংলায় প্রোগ্রামিং জ্ঞান ছড়িয়ে দেয়ার প্রত্যয়ে
                        </h2>
                        <div>
                            <a href="/courses" class="primary-btn2 mb-3 mb-sm-0">কোর্স সমূহ </a>
                            <a target="blank" href="http://zuyelrana.pythonanywhere.com/blog/"
                                class="primary-btn ml-sm-3 ml-0">আমাদের
                                ব্লগ</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>