{% load static %}
<div class="testimonial_area section_gap">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-5">
                <div class="main_title">
                    <h2 class="mb-3">ব্যবহারকারির মন্তব্য </h2>
                    <p>
                        আমাদের এই ওয়েব সাইট ব্যবহার করে যারা উপকার পেয়েছেন তাদের মন্তব্য সমূহ
                    </p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="testi_slider owl-carousel">
                <div class="testi_item">
                    <div class="row">
                        <div class="col-lg-4 col-md-6">
                            <img src="{% static 'img/testimonials/t.jpg' %}" alt="" />
                        </div>
                        <div class="col-lg-8">
                            <div class="testi_text">
                                <h4> নাম </h4>
                                <p>
                                    অর্থহীন লেখা যার মাঝে আছে অনেক কিছু। হ্যাঁ, এই লেখার মাঝেই আছে অনেক কিছু। যদি তুমি
                                    মনে করো, এটা তোমার কাজে লাগবে, তাহলে তা লাগবে কাজে।
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="testi_item">
                    <div class="row">
                        <div class="col-lg-4 col-md-6">
                            <img src="{% static 'img/testimonials/t.jpg' %}" alt="" />
                        </div>
                        <div class="col-lg-8">
                            <div class="testi_text">
                                <h4>নাম </h4>
                                <p>
                                    অর্থহীন লেখা যার মাঝে আছে অনেক কিছু। হ্যাঁ, এই লেখার মাঝেই আছে অনেক কিছু। যদি তুমি
                                    মনে করো, এটা তোমার কাজে লাগবে, তাহলে
                                    তা লাগবে কাজে।
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="testi_item">
                    <div class="row">
                        <div class="col-lg-4 col-md-6">
                            <img src="{% static 'img/testimonials/t.jpg' %}" alt="" />
                        </div>
                        <div class="col-lg-8">
                            <div class="testi_text">
                                <h4> নাম </h4>
                                <p>
                                    অর্থহীন লেখা যার মাঝে আছে অনেক কিছু। হ্যাঁ, এই লেখার মাঝেই আছে অনেক কিছু। যদি তুমি
                                    মনে করো, এটা তোমার কাজে লাগবে, তাহলে তা লাগবে কাজে।
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="testi_item">
                    <div class="row">
                        <div class="col-lg-4 col-md-6">
                            <img src="{% static 'img/testimonials/t.jpg' %}" alt="" />
                        </div>
                        <div class="col-lg-8">
                            <div class="testi_text">
                                <h4>নাম </h4>
                                <p>
                                    অর্থহীন লেখা যার মাঝে আছে অনেক কিছু। হ্যাঁ, এই লেখার মাঝেই আছে অনেক কিছু। যদি তুমি
                                    মনে করো, এটা তোমার কাজে লাগবে, তাহলে তা লাগবে কাজে।
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="testi_item">
                    <div class="row">
                        <div class="col-lg-4 col-md-6">
                            <img src="{% static 'img/testimonials/t1.jpg' %}" alt="" />
                        </div>
                        <div class="col-lg-8">
                            <div class="testi_text">
                                <h4> নাম </h4>
                                <p>
                                    অর্থহীন লেখা যার মাঝে আছে অনেক কিছু। হ্যাঁ, এই লেখার মাঝেই আছে অনেক কিছু। যদি তুমি
                                    মনে করো, এটা তোমার কাজে লাগবে, তাহলে তা লাগবে কাজে।
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="testi_item">
                    <div class="row">
                        <div class="col-lg-4 col-md-6">
                            <img src="{% static 'img/testimonials/t.jpg' %}" alt="" />
                        </div>
                        <div class="col-lg-8">
                            <div class="testi_text">
                                <h4> নাম </h4>
                                <p>
                                    অর্থহীন লেখা যার মাঝে আছে অনেক কিছু। হ্যাঁ, এই লেখার মাঝেই আছে অনেক কিছু। যদি তুমি
                                    মনে করো, এটা তোমার কাজে লাগবে, তাহলে তা লাগবে কাজে।
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>