{% extends 'base.html' %}
{% block title %}
<title>জিনিয়াস-আমাদের সম্পর্কে</title>
{% endblock title %}
{% block content %}
<!--================ Start About Area =================-->
{% include 'all/about.html' %}
<!--================ End About Area =================-->
<!--================ Start Trainers Area =================-->
{% include 'all/trainer_area.html' %}


<!--================ Start Testimonial Area =================-->
{% include 'all/testimonial_area.html' %}
<!--================ End Testimonial Area =================-->
{% endblock content %}