{% extends 'base.html' %} {% block title %} <title>জিনিয়াস-আমাদের কোর্স</title> {% endblock title %} {% block content %}
<!--================ Start Feature Area =================--> {% include 'all/feature_area.html' %}
<!--================ End Feature Area =================-->
<!--================ Start Popular Courses Area =================--> {% include 'all/popular_courses.html' %}
<!--================ End Popular Courses Area =================-->
<!--================ Start Registration Area =================--> {% include 'all/registration_area.html' %}
<!--================ End Registration Area =================-->
<!--================ Start Testimonial Area =================--> {% include 'all/testimonial_area.html' %}
<!--================ End Testimonial Area =================--> {% endblock content %}
